<%= paginate @tag %>
    <div id="wrapper">
      <div id="masonry-container">
        <% @tag.each do |r| %>
            <div class="mas-box">
              <%= link_to("show/#{r.id}") do %>
              <div class="bbox">
              <%= "#{r.name}(#{r.taggings_count})" %>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
<%= paginate @tag %>
