// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}
body{
font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
h1{
  font-size: 2.2rem;
color: #4a4a4a;
line-height: 1.2;
font-weight: bold;
}
i{
  color: #888;
  font-style:normal;
}
.mincho{
font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
a:hover{
  text-decoration: none;
  img{
      opacity: 0.5 ;
  }
}
.entryitem{
  color:#aaa;
  font-size: 11px;
  .right{
    text-align: right;
  }
}
.txc{
  text-align: center;
}
.pagination {
   justify-content: center;
}
.abs{
  position: absolute;
}
.pdr10{
  padding-right: 10px;
}
.eimg{
  max-width:100%;
}
