    #wrapper {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;   /*全体の中央寄せ*/
    }
    .masonry-container {
      width: 100%;
      margin: 0 auto;   /*中央寄せ*/
      position: relative;
    }
    .mas-box{
      margin:5px;
      width: 320px;
      opacity:0;
      a{
        color: #667;
      }
      a:hover{
        color:#000;
      }
      .tags{
        padding:0 8px;
        width: 320px;
      }
    }
    .bbox{
      padding: 8px;
      border: 1px solid #eee;
      background-color: #ffffff;
      border-radius: 5px;
      img {
        width: 100%;
      }
    }
    .tags{
        a{
            color: #667;
            font-size: 14px;
          }
          a:hover{
              .bbox{
                background-color: #fafafa;
            }
            color: #000;
          }
    }

    .mas-box.x2 {
      width: 140px;
    }
    .mas-box.x3 {
      width: 500px;
    }
